/* eslint-disable unknownAtRules */
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}
/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
